/*
Amarelo #ffe521
Pink #ff009e
Verde água #56f89a
Preto #000000
 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
}

img {
  width: 200px;
}

section {
  background-color: #ecebeb;
}

.menu-dashboard {
  padding: 2%;
}

/* .menu-dashboard button:hover {
  background-color: #D7D2D2;
} */

/* .content button.active {
  background-color: #DFDDDD;
} */

#filter {
  padding: 2%;
}

select {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: .25s;
}

select:focus {
  outline: none;
}

select:hover {
  border: 1px solid #000000;
}

.tabContent {
  display: none;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-top: none;
  overflow: hidden;
}

/* Estilos container */
#container {
  padding: 0 0 0 2%;
  overflow: auto;
}

#container h4 {
  color: #262626;
  font-weight: 200;
}

#overview div {
  float: left;
}

#overview .info-container {
  /* width: 31%; */
  background-color: #fff;
  box-shadow: 0px 5px 15px #b9b9b9;
  float: left;
  margin: 0 2% 2% 0;
  padding: 15px;
  text-align: center;
  color: #262626;
  overflow: hidden;
}

.info-container figure {
  padding: 10px 0;
}

#overview .single {
  width: 31%;
}

#overview .double {
  width: 47.5%;
}

#overview .triple {
  width: 97%;
}

#overview pre {
  display: block;
  font-size: 3em;
  margin: 10px auto;
  color: #ffc107;
}

#overview .info {
  box-shadow: none;
  width: 48%;
  padding: 2%;
  margin: 10px 0;
}

#overview .info.triple {
  width: 100%;
}

#overview span {
  display: block;
  font-size: 2.5em;
  font-weight: 600;
  margin-top: 10px;
}

#overview .secondary {
  font-size: .9em;
  display: inline;
}

#overview h5 {
  font-weight: 200;
  margin-bottom: 5px;
}
