/*
Amarelo #ffe521
Pink #ff009e
Verde água #56f89a
Preto #000000
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
}

img {
  width: 200px;
}

h1 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 15px;
}

p {
  font-family: 'Bitter', serif;
  font-size: 14px;
  padding: 10px;
}

span {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.menu-filter {
  background-color: #d3d3d3;
}

#filter {
  padding: 2%;
}

select {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

option {
  font-weight: bold;
}

select:focus {
  outline: none;
}

.menu-dashboard {
  padding: 1.5%;
  background-color: #d3d3d3;
}

.menu {
  background-color: #d3d3d3;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #ffe521;
}

#infos {
  background-color: #dcdcdc;
}

.overview-1, .overview-2, .overview-3, .overview-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 5px 0 5px;
}

.first-line-overview, .fourth-line-overview {
  padding: 10px;
  width: 30%;
  background-color: #ffffff;
  margin: 0% 0 2% 0;
  border-radius: 4px;
  text-align: center;
}

.second-line-overview, .third-line-overview {
  padding: 10px;
  width: 70%;
  background-color: #ffffff;
  margin: 0% 0 2% 0;
  border-radius: 5px;
  text-align: center;
}
